@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/sizing';
@import '../../../assets/styles/spacing';

.Color {
	width: 100%;

	.Prefix {
		display: flex;
		align-items: center;

		.Preview {
			$size: $space-sm;

			width: $size;
			height: $size;

			margin-right: $space-xs;
			background-color: $fourth-color;

			border-radius: 4px;
		}
	}

	.Wrapper {
		width: 100%;

		position: relative;

		.Content {
			position: absolute !important;

			top: $space-xs;
			left: 0;

			z-index: 1000;

			width: 75% !important;
			max-width: 200px;

			> * {
				box-shadow: 0 0 8px rgba($fifth-color, 0.25);
			}

			.Presets {
				display: grid;
				grid-template-columns: repeat(5, 1fr);

				row-gap: 0.5rem;
				column-gap: 0.5rem;

				margin-top: 0.5rem;
				padding: 0.5rem;

				border-radius: 6px;
				background-color: $primary-color;

				.Preset {
					padding-top: calc(100% - 4px);

					border-radius: 6px;

					box-sizing: border-box;
					border: 2px solid transparent;
					box-shadow: 0 0 8px rgba($fifth-color, 0.15);

					transition: all 0.15s;
					cursor: pointer;
				}

				.Selected {
					border-color: $fifth-color;
				}
			}
		}
	}

	.Dark {
		.Content {
			> * {
				background-color: $fifth-color !important;
			}

			.Presets {
				.Selected {
					border-color: $primary-color;
				}
			}
		}
	}
}

@media (hover: hover) and (pointer: fine) {
	.Color {
		.Wrapper {
			.Content {
				.Presets {
					.Preset {
						&:hover {
							transform: translateY(-0.125rem);

							.Tooltip {
								opacity: 1;
								visibility: visible;
							}
						}
					}
				}
			}
		}
	}
}
