@import '../../assets/styles/colors';
@import '../../assets/styles/fonts';
@import '../../assets/styles/sizing';
@import '../../assets/styles/spacing';

.Project {
	width: 100%;

	transition: all 0.25s;

	cursor: pointer;

	&:hover {
		transform: translateY(-$space-xs / 4);
	}

	.Label {
		font-family: $secondary-font;
		font-size: $size-xs;
		line-height: $size-md;
		color: $primary-color;

		margin-left: $space-xs / 2;
	}

	.Holder {
		width: 100%;

		border-radius: 4px;
		box-shadow: 0 0 8px rgba($fifth-color, 0.15);
		background-color: $fourth-color;

		padding-top: 56.25%;
		margin: 0;

		display: flex;
		justify-content: center;
		align-items: center;

		position: relative;

		overflow: hidden;

		.Image {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;

			width: 100%;
			height: 100%;

			object-fit: cover;
			object-position: center;
		}

		.Icon {
			width: 100%;
			height: 100%;

			margin: 0;
			padding: 0;

			position: absolute;
			top: 0;
			left: 0;

			div {
				position: absolute;
				top: 50%;
				left: 50%;

				transform: translate(-50%, -50%);

				margin: 0;
				padding: 0;

				width: 4px;
				height: $space-lg;

				border-radius: 2px;
				background-color: $fifth-color;

				&:last-of-type {
					transform: translate(-50%, -50%) rotateZ(90deg);
				}
			}
		}
	}
}

.Dark {
	.Label {
		color: $fifth-color;
	}
}

@media (min-width: 720px) {
	.Project {
		// max-width: 45%;
	}
}

@media (min-width: 720px) {
	.Project {
		// max-width: 50%;
	}
}
