@import '../../assets/styles/colors';
@import '../../assets/styles/fonts';
@import '../../assets/styles/sizing';
@import '../../assets/styles/spacing';

.Project {
	width: 100%;

	transition: all 0.25s;

	cursor: pointer;

	&:hover {
		transform: translateY(-$space-xs);
	}

	.Name {
		font-family: $secondary-font;
		font-size: $size-sm;
		color: $primary-color;

		margin: 0 $space-xs $space-xs;
	}

	.Placeholder {
		width: 100%;

		border-radius: 4px;
		box-shadow: 0 0 8px rgba($fifth-color, 0.15);
		background-color: $fourth-color;

		padding-top: 56.25%;
		margin: 0;

		display: flex;
		justify-content: center;
		align-items: center;

		position: relative;

		overflow: hidden;

		.Image {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			width: 100%;
			height: 100%;

			object-fit: cover;
			object-position: center;
		}

		.Icon {
			width: 25%;
			height: 25%;

			position: absolute;
			top: 50%;
			left: 50%;

			transform: translate(-50%, -50%);

			color: $fifth-color;
		}
	}
}

.Dark {
	.Name {
		color: $fifth-color;
	}
}
