@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/sizing';
@import '../../../assets/styles/spacing';

.Button {
	width: 75%;
	height: calc(#{$space-lg} * 1.25);

	font-family: $secondary-font;
	color: $primary-color;

	background-color: $fifth-color;

	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;

	transition: all 0.15s;
	border-radius: $space-lg;
	box-shadow: 0 4px 8px rgba($fifth-color, 0.25);

	border: none;

	&:hover {
		background-color: darken($fifth-color, 5);
	}

	&:active {
		background-color: darken($fifth-color, 8);
	}

	&:disabled {
		background-color: darken($fifth-color, 8);
	}
}
