@import '../../assets/styles/colors';
@import '../../assets/styles/fonts';
@import '../../assets/styles/sizing';
@import '../../assets/styles/spacing';
@import '../../assets/styles/mixins';

$size: 4.25rem;
$toggle: 1.25rem;

$icon: calc(#{$size} * 0.6);
$offset: calc((#{$size} - #{$icon}) / 2);

.Header {
	width: 100%;
	height: $size;

	padding: 0 $offset 0 $toggle;

	display: flex;
	justify-content: space-between;
	align-items: center;

	border-bottom: 2px solid $fourth-color;
	box-sizing: border-box;

	position: relative;

	.Indicator {
		position: absolute;
		top: 50%;
		left: 0;

		transform: translateY(-50%);

		width: 3px;
		height: $icon;

		background-color: $primary-color;
		border-radius: 0 2px 2px 0;
	}

	.Title {
		width: calc(100% - #{$space-xl});

		font-family: $secondary-font;
		font-size: $size-lg;
		font-weight: 600;

		color: $primary-color;

		@include ellipsis;
	}

	.Referrer {
		width: $icon;
		height: $icon;

		display: flex;
		justify-content: center;
		align-items: center;

		background-color: $primary-color;
		border-radius: 4px;

		.Logo {
			width: 65%;
			height: 65%;

			background-image: url('../../assets/icons/lci.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
	}
}

.Body {
	width: 100%;
	height: calc(100% - #{$size});

	display: flex;

	.Wrapper {
		width: calc(100% - #{$size});
		height: 100%;

		display: flex;
		flex-flow: column;

		.Content {
			width: 100%;

			overflow-y: auto;

			flex: 1 1 auto;
		}

		.Actions {
			width: 100%;
			min-height: $size;

			flex: 0 1 $size;

			display: flex;
			justify-content: space-between;
			align-items: center;

			padding: 0 $toggle;

			border-top: 2px solid $fourth-color;
			box-sizing: border-box;

			button {
				width: calc(50% - #{$toggle} / 4);
				height: $icon;
			}
		}
	}

	.Bar {
		width: $size;
		height: 100%;

		display: flex;
		align-items: center;
		flex-flow: column;

		border-left: 2px solid $fourth-color;
		box-sizing: border-box;

		padding: $offset 0;

		overflow-y: auto;

		.Handle {
			width: $icon;
			min-height: $icon;

			display: flex;
			justify-content: center;
			align-items: center;

			border-radius: 4px;

			margin-top: calc(#{$offset} * 1.25);

			position: relative;

			transition: all 0.15s;
			cursor: pointer;

			&:hover:not(.SelectedHandle) {
				background-color: darken($fifth-color, 5);
			}

			&:active:not(.SelectedHandle) {
				background-color: darken($fifth-color, 8);
			}

			&:first-of-type {
				margin-top: 0;
			}

			svg {
				color: $primary-color;
				transition: all 0.15s;
			}

			.Label {
				width: calc(#{$size} - #{$space-sm});

				position: absolute;
				bottom: calc(#{$size-lg} / -2 - 3px);
				left: 50%;

				text-align: center;

				font-family: $secondary-font;
				font-size: calc(#{$size-xs} * 0.75);
				color: $primary-color;

				transform: translateX(-50%);

				@include ellipsis;
			}
		}

		.SelectedHandle {
			background-color: $primary-color;

			svg {
				color: $fifth-color;
			}
		}
	}
}
