@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/sizing';
@import '../../../assets/styles/spacing';

.Input,
.Textarea {
	border-bottom: 1.5px solid $secondary-color;

	font-family: $secondary-font;
	font-size: $size-sm;
	color: $fifth-color;

	// Non-Styling

	width: calc(100% - #{$space-xs});
	height: 2em;

	margin-top: $space-sm;
	padding-left: $space-xs;
	margin-bottom: 1.25em;

	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	transition: color 0.15s;

	&::placeholder {
		font-weight: 300;
		text-transform: capitalize;
		color: $secondary-color;

		// Non-Styling

		transition: color 0.15s;
	}

	&:focus {
		border-bottom: 1.5px solid $fifth-color;

		&::placeholder {
			color: $fifth-color;
		}
	}
}

.Input {
	// Non-Styling

	height: 2em;
}

.Textarea {
	// Non-Styling

	min-height: 8em;
	max-height: 14em;
}
