@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/sizing';
@import '../../../assets/styles/spacing';

.Label {
	display: block;

	font-family: $secondary-font;
	font-size: $size-xs;

	color: $secondary-color;

	margin-bottom: $space-xs;
}

.Wrapper {
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	border-bottom: 1.5px solid $secondary-color;

	transition: all 0.15s;

	&:focus-within {
		border-bottom-color: $primary-color;
	}

	.Prefix {
		font-family: $secondary-font;
		font-size: $size-md;
		color: $secondary-color;

		margin-right: $space-xs;
	}

	.Input,
	.Textarea {
		font-family: $secondary-font;
		font-size: $size-md;
		color: $primary-color;

		width: calc(100% - #{$space-sm});
		padding-left: $space-sm;

		background: none;
		border: none;
		transition: all 0.15s;

		&:focus {
			&::placeholder {
				color: $primary-color;
			}
		}

		&::placeholder {
			font-weight: 300;
			text-transform: capitalize;
			color: $secondary-color;

			transition: color 0.15s;
		}

		&:-webkit-autofill::first-line {
			font-family: $secondary-font;
			color: $primary-color;
		}
	}

	.Input {
		height: 2em;
	}

	.Textarea {
		min-height: 8em;
		max-height: 14em;
	}
}

.Dark {
	&:focus-within {
		border-bottom-color: $fifth-color;
	}

	.Input,
	.Textarea {
		color: $fifth-color;

		&:focus {
			&::placeholder {
				color: $fifth-color;
			}
		}

		&:-webkit-autofill::first-line {
			color: $fifth-color;
		}
	}
}

.Error {
	border-bottom-color: $danger-color;

	&:focus-within {
		border-bottom-color: $danger-color;
	}
}

.Message {
	display: block;

	font-family: $secondary-font;
	font-size: $size-xs;

	color: $danger-color;

	margin: $space-xs 0 0 $space-xs;
}
