@import '../../assets/styles/colors';
@import '../../assets/styles/fonts';
@import '../../assets/styles/sizing';
@import '../../assets/styles/spacing';

.Projects {
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	flex-flow: column;

	.Library,
	.Catalogue {
		width: 100%;

		.Wrapper {
			padding: $space-lg 0;

			.Title {
				width: 100%;

				.Heading {
					font-family: $primary-font;
					font-size: $size-xl;

					text-transform: capitalize;
				}

				.Line {
					width: $space-xl;
					height: 3px;

					margin-top: $space-md;
				}
			}

			.Content {
				margin-top: $space-lg;
			}

			.Extra {
				font-family: $secondary-font;
				font-size: $size-xs;
				line-height: $size-md;
				color: $primary-color;

				margin-top: $space-lg;

				a {
					color: $primary-color;
				}
			}
		}
	}

	.Library {
		background-color: $fifth-color;

		.Wrapper {
			.Title {
				.Heading {
					color: $primary-color;
				}

				.Line {
					background-color: $primary-color;
				}
			}
		}

		.Circle {
			display: none;
		}
	}

	.Catalogue {
		.Wrapper {
			position: relative;

			.Title {
				text-align: center;

				.Heading {
					color: $fifth-color;
				}

				.Line {
					margin: $space-md auto 0;
					background-color: $fifth-color;
				}
			}
		}
	}
}

@media (min-width: 720px) {
	.Projects {
		.Library {
			.Wrapper {
				.Title {
					text-align: center;

					.Line {
						margin: $space-md auto 0;
					}
				}

				.Extra {
					text-align: center;
				}
			}
		}
	}
}

@media (min-width: 1024px) {
	.Projects {
		flex-flow: row;

		.Library,
		.Catalogue {
			width: 50%;
			height: 100vh;

			.Wrapper {
				width: 90%;
				height: calc(100vh - #{$space-xl} * 2);
				margin: 0 auto;

				overflow-y: auto;

				padding: $space-xl 0;
			}
		}

		.Library {
			position: relative;

			.Wrapper {
				position: relative;

				.Title {
					text-align: left;

					.Line {
						margin: $space-md 0;
					}
				}

				.Extra {
					position: absolute;
					left: 0;
					bottom: $space-xl;
				}
			}

			.Circle {
				display: block;

				position: absolute;

				right: calc(#{$space-xl} * -1.75);
				bottom: calc(#{$space-xl});

				width: calc(#{$space-xl} * 2.5);
				height: calc(#{$space-xl} * 2.5);

				border-radius: 50%;

				background-color: transparent;
				border: $size-xl solid $primary-color;
			}
		}
	}
}
