@import '../../assets/styles/colors';
@import '../../assets/styles/fonts';
@import '../../assets/styles/sizing';
@import '../../assets/styles/spacing';

.Auth {
	width: 100%;
	min-height: 100vh;

	display: flex;

	flex-flow: column;

	.Actions,
	.Info {
		display: flex;
		align-items: center;

		.Wrapper {
			width: 100%;

			display: flex;
			justify-content: center;

			flex-flow: column;

			margin: 0 auto;

			.Title {
				.Heading {
					font-family: $primary-font;
					font-size: $size-xl;
				}

				.Line {
					width: $space-xl;
					height: 3px;

					margin-top: $space-md;
				}
			}
		}
	}

	.Actions {
		height: 100vh;

		.Wrapper {
			align-items: center;

			.Title {
				margin: 0 auto;
				text-align: center;

				.Heading {
					color: $fifth-color;
				}

				.Line {
					background-color: $fifth-color;
					margin: $space-md auto 0;
				}
			}

			.Form {
				width: 100%;

				margin-top: $space-xl;
			}

			.Legal {
				margin-top: $space-md;
				text-align: center;
			}

			.Submit {
				margin-top: $space-xl;
			}

			.Redirect {
				font-family: $secondary-font;
				font-size: $size-xs;
				line-height: $size-md;
				color: $secondary-color;

				margin-top: $space-md;

				text-align: center;
			}
		}
	}

	.Info {
		padding: $space-lg 0;

		background-color: $fifth-color;

		.Wrapper {
			.Title {
				.Heading {
					color: $primary-color;
				}

				.Line {
					background-color: $primary-color;
				}
			}

			.Text {
				font-family: $secondary-font;
				font-size: $size-sm;
				line-height: $size-md;
				color: $primary-color;

				margin-top: $space-xl;
			}

			.Extra {
				font-family: $secondary-font;
				font-size: $size-xs;
				line-height: $size-md;
				color: $primary-color;

				margin-top: $space-xl;

				a {
					color: $primary-color;
				}
			}
		}
	}
}

@media (min-width: 720px) {
	.Auth {
		.Actions,
		.Info {
			.Wrapper {
				width: 85%;
			}
		}

		.Info {
			.Wrapper {
				.Title {
					margin: 0 auto;
					text-align: center;

					.Line {
						margin: $space-md auto 0;
					}
				}

				.Text {
					text-align: center;
				}

				.Extra {
					text-align: center;
				}
			}
		}
	}
}

@media (min-width: 1024px) {
	.Auth {
		flex-flow: row-reverse;

		.Actions,
		.Info {
			width: 50%;
			height: 100vh;

			padding: 0;
		}

		.Actions {
			.Wrapper {
				width: 65%;

				.Submit {
					width: 50%;
				}
			}
		}

		.Info {
			position: relative;

			.Wrapper {
				width: 80%;
				height: 100vh;

				position: relative;

				.Title {
					margin: 0;
					text-align: left;

					.Line {
						margin: $space-md 0 0;
					}
				}

				.Text {
					text-align: left;
				}

				.Extra {
					position: absolute;
					left: 0;
					bottom: $space-xl;
				}
			}

			.Circle {
				position: absolute;

				right: calc(#{$space-xl} * -1.75);
				bottom: $space-xl;

				width: calc(#{$space-xl} * 2.5);
				height: calc(#{$space-xl} * 2.5);

				border-radius: 50%;

				background-color: transparent;
				border: $size-xl solid $primary-color;
			}
		}
	}
}
