@import '../../assets/styles/colors';
@import '../../assets/styles/fonts';
@import '../../assets/styles/sizing';
@import '../../assets/styles/spacing';

.Sidebar {
	$toggle: 3%;
	$bar: calc(#{$space-xl} * 1.125);
	$action: calc(#{$space-md} * 1.25);

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;

	width: 90%;
	height: 100vh;

	box-shadow: 0 0 8px rgba($fifth-color, 0.25);
	background-color: $fifth-color;

	transform: translateX(calc(100% - #{$toggle} * 2));

	transition: all 0.35s;

	&:hover {
		transform: translateX(0);

		.Header {
			border-bottom-color: $fourth-color;

			.Indicator {
				opacity: 1;
			}
		}
	}

	.Header {
		$spacing: calc((#{$bar} - #{$action}) / 2);

		width: 100%;
		height: calc(#{$bar} - 2px);

		display: flex;
		justify-content: space-between;
		align-items: center;

		padding: 0 $spacing 0 calc(#{$toggle} * 2);
		margin: 0;

		box-sizing: border-box;
		border-bottom: 2px solid transparent;

		position: relative;

		transition: all 0.35s;

		.Indicator {
			position: absolute;
			top: 50%;
			left: 0;

			width: 3px;
			height: $action;

			transform: translateY(-50%);

			border-radius: 0 2px 2px 0;
			background-color: $primary-color;

			transition: all 0.35s;

			opacity: 0;
		}

		.Heading {
			font-family: $secondary-font;
			font-size: $size-sm * 1.125;
			font-weight: 600;

			color: $primary-color;
		}

		.Referrer {
			width: $action;
			height: $action;

			border-radius: 4px;
			background-color: $primary-color;

			display: flex;
			justify-content: center;
			align-items: center;

			.Logo {
				width: 65%;
				height: 65%;

				background-image: url('../../assets/icons/lci.png');
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}
		}
	}

	.Wrapper {
		display: flex;

		width: calc(100% - #{$toggle} * 2);
		height: calc(100vh - #{$bar});

		float: right;

		.Content {
			width: calc(100% - #{$bar});
			height: 100%;
		}

		.Bar {
			width: $bar;
			height: 100%;

			border-left: 2px solid $fourth-color;

			display: flex;
			justify-content: space-between;

			flex-direction: column;

			.Main {
				width: 100%;

				display: flex;
				align-items: center;

				flex-flow: column;

				margin-top: $space-xs;

				.Action {
					width: $action;
					height: $action;

					border-radius: 4px;

					display: flex;
					justify-content: center;
					align-items: center;

					margin-top: calc(#{$space-sm} * 1.25);

					transition: all 0.15s;
					cursor: pointer;

					&:hover:not(.SelectedAction) {
						background-color: $fourth-color;
					}

					&:first-of-type {
						margin-top: 0;
					}

					.Icon {
						width: 65%;
						height: 65%;

						color: $primary-color;

						transition: all 0.15s;
					}
				}

				.SelectedAction {
					background-color: $primary-color;

					.Icon {
						color: $fifth-color;
					}
				}
			}

			.Extra {
				display: block;
			}
		}
	}

	.Toggle {
		position: absolute;

		top: 50%;
		left: 0;
		transform: translateY(-50%);

		width: calc(#{$toggle} * 2);
		height: 7em;

		display: flex;
		justify-content: center;
		align-items: center;

		opacity: 1;
		transition: all 0.35s;

		cursor: pointer;

		&:hover {
			.Hook {
				background-color: rgba($primary-color, 0.5);
			}
		}

		.Hook {
			width: 3px;
			height: calc(#{$space-md} * 1.25);

			border-radius: 2px;
			background-color: rgba($primary-color, 0.25);

			transition: all 0.15s;
		}
	}
}

.Hidden {
	transform: translateX(100%);

	.Toggle {
		opacity: 0;
	}
}

.Expanded {
	transform: translateX(0);

	.Header {
		border-bottom-color: $fourth-color;

		.Indicator {
			opacity: 1;
		}
	}

	.Toggle {
		&:hover {
			.Hook {
				background-color: $primary-color;
			}
		}

		.Hook {
			background-color: $primary-color;
		}
	}
}

@media (min-width: 720px) {
	.Sidebar {
		max-width: 340px;
	}
}

@media (min-width: 1024px) {
	.Sidebar {
		max-width: 350px;
	}
}
