@import '../../assets/styles/colors';
@import '../../assets/styles/fonts';
@import '../../assets/styles/sizing';
@import '../../assets/styles/spacing';

.Sitemap {
	$toggle: 3%;

	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;

	width: 90%;
	height: 100vh;

	box-shadow: 0 0 8px rgba($fifth-color, 0.25);
	background-color: $fifth-color;

	transform: translateX(calc(-1 * (100% - #{$toggle} * 2)));

	transition: all 0.35s;

	&:hover {
		transform: translateX(0);
	}

	.Info {
		width: calc(100% - #{$toggle} * 4);

		margin: $space-sm auto 0;
		padding-top: $space-md;

		.Name,
		.Category {
			text-align: center;
		}

		.Holder {
			width: calc(#{$space-xl} * 2.25);
			height: calc(#{$space-xl} * 2.25);

			margin: 0 auto;

			border-radius: 50%;
			background-color: $primary-color;

			overflow: hidden;
		}

		.Name {
			font-family: $secondary-font;
			font-size: $size-sm;
			font-weight: 600;

			color: $primary-color;

			margin-top: calc(#{$space-sm} * 1.5);
		}

		.Category {
			font-family: $secondary-font;
			font-size: $size-xs;

			color: $third-color;

			margin-top: calc(#{$space-xs} / 2);
		}

		.Line {
			width: $space-lg;
			height: 2px;

			margin: calc(#{$space-sm} * 1.5) auto 0;

			background-color: $primary-color;
		}
	}

	.Pages {
		width: calc(100% - #{$toggle} * 2);

		margin-top: $space-lg;

		.Page {
			margin-top: calc(#{$space-xs} / 2);
			padding-left: $space-md;

			&:hover:not(.SelectedPage, .NewPage) {
				.Item {
					.Name {
						transform: translateX($space-xs / 2);
					}
				}
			}

			.Item {
				height: $space-lg;

				display: flex;
				align-items: center;

				cursor: pointer;

				.Name {
					font-family: $secondary-font;
					font-size: $size-sm;

					color: $primary-color;

					transition: transform 0.15s;
				}
				.Indicator {
					transition: all 0.15s;
				}
			}

			.Content {
				width: 100%;

				.Component {
					width: calc(100% - 1px - #{$space-sm} * 2);
					height: $space-lg;

					margin-top: calc(#{$space-xs} / 2);

					display: flex;
					align-items: center;

					border-radius: 6px;

					transition: all 0.15s;

					cursor: pointer;

					margin-left: $space-sm;
					padding-left: $space-sm;

					&:hover:not(.SelectedComponent) {
						background-color: $fourth-color;
					}

					.Title {
						font-family: $secondary-font;
						font-size: $size-xs;

						color: $primary-color;
					}

					.Icon {
						color: $primary-color;
						margin-right: calc(#{$space-xs} / 2);
					}
				}

				.SelectedComponent {
					background-color: $primary-color;

					.Title {
						color: $fifth-color;
					}
				}
			}
		}

		.NewPage {
			.Icon {
				color: $primary-color;
				margin-right: calc(#{$space-xs} / 2);
			}
		}

		.SelectedPage {
			position: relative;

			.Item {
				.Name {
					transform: translateX($space-xs);

					font-weight: 600;
				}

				.Indicator {
					position: absolute;
					top: 0;
					left: 0;

					width: 3px;
					height: $space-lg;

					border-radius: 0 2px 2px 0;
					background-color: $primary-color;
				}
			}
		}
	}

	.Toggle {
		position: absolute;

		top: 50%;
		right: 0;
		transform: translateY(-50%);

		width: calc(#{$toggle} * 2);
		height: 7em;

		display: flex;
		justify-content: center;
		align-items: center;

		cursor: pointer;

		&:hover {
			.Icon {
				background-color: rgba($primary-color, 0.5);
			}
		}

		.Icon {
			width: 3px;
			height: calc(#{$space-md} * 1.25);

			border-radius: 2px;
			background-color: rgba($primary-color, 0.25);

			transition: all 0.15s;
		}
	}
}

.Expanded {
	transform: translateX(0);

	.Toggle {
		&:hover {
			.Icon {
				background-color: $primary-color;
			}
		}

		.Icon {
			background-color: $primary-color;
		}
	}
}

@media (min-width: 720px) {
	.Sitemap {
		max-width: 340px;
	}
}

@media (min-width: 1024px) {
	.Sitemap {
		max-width: 350px;
	}
}
